<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="/css/editDetails.css">
</head>
<body>
    <h1 class="title">Edit your details</h1>
    <form action="/users/:id/profile/edit?_method=PUT" method="POST" class="edit-form">
        <label for="name"> Your name: </label>
        <input type="text" id="name" placeholder="Name" name="name" value="<%= user.name %> ">
        <br>
        <label for="age"> Age: </label>
        <input type="text" id="age" placeholder="Age" name="age" value=<%= user.age %> >
        <br>
        <label for="email"> Email address: </label>
        <input type="text" id="email" placeholder="Email" name="email" value="<%= user.email %> ">
        <br>
        <label for="email"> Password: </label>
        <input type="password" id="password" placeholder="Your Password" name="password" value="<%= user.password %> ">
        <button type="button" onclick="showPassword()" style="cursor: pointer;background-color:black;">Show password</button>
        <br>
        <input type="hidden" name="_id" id="id" value="<%= user._id %>">
        <textarea name="interests" id="interests" cols="30" rows="10" placeholder="About Yourself"></textarea>
        <br>
        <button class="btn" onclick="giveAlert()">Save</button>
    </form>
    <script>
        function giveAlert() {
            alert('Profile Updated Successfully')
        }
        function showPassword() {
            let password_space = document.getElementById('password')
            if (password_space.type === 'password') {
                password_space.type = 'text'
            } else {
                password_space.type = 'password'
            }
        }
    </script>
</body>
</html>