<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Blogs</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/myBlogs.css">
</head>
<body>
    <h1>Your Blogs </h1>
    <br>
    <div class="main-body">
        <% for (let blog of blogs) { %> 
            <div class="blog-tile">
                <img src="/images/favicon-32x32.png" alt="image" srcset="">
                <a href="/users/<%= user._id %>/home/My-Blogs/<%= blog._id %>"><p><%= blog.title %></p> </a>
                <p id="date">Published: <%= blog.date_created %> </p>
            </div> 
            <br>
        <% } %>
        <!-- <div class="btn-area">
            <button class="btn"><a href="/">To login page</a></button>
            <br>
            <button class="btn"><a href="/users/<%= user._id %>/home">To home page</a> </button>
        </div> -->
    </div>
    <div class="footer">
        <a href="https://github.com/AryamanMishra/Blog-App" target="_blank"><i class="fa fa-github"></i></a>
        <a href="mailto:aryaman.m09@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
</body>
</html>