<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="/css/userDetails.css">
</head>
<body>
    <h1 class="title"><u>User details</u></h1>
    <section class="section-center">
        <p>Name: <%= user.name %></p>
        <p>Age: <%= user.age %></p>
        <p>Email: <%= user.email %></p>
        <p>Bio: <%= user.interests %></p>
    </section>
    <button class="btn"><a href="/users/<%= user._id%>/home">Back to home page</a></button>
    <br>
    <button class="btn-edit"><a href="/users/<%= user._id%>/profile/edit">Edit your Profile</a></button>
    <br>
    <form action="/delete?_method=DELETE" method="POST">
        <button class="btn-delete">Delete your Profile</button>
        <input type="hidden" value="<%=user._id%>" id="id" name="_id">
    </form>
</body>
</html>