<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogAddiction - <%= user.name %></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- styles -->
    <link rel="stylesheet" href="/css/userHome.css">
</head>
<body>
    <h1 class="title"><u>Welcome <%= user.name %></u></h1>
    <center>    
        <form action="/users/searchUser" method="POST">
            <input type="text", id="name", name="name" placeholder="Search Users by name">
            <input type="hidden" value="<%= user._id %>" id="_id" name="id">
            <button type="submit" id="searchButton" style="cursor: pointer;">Search</button>
        </form>
    </center>
    <div class="btn-container">
        <button class="btn"><a href="/users/<%= user._id %>/home/My-blogs">My Blogs</a></button>
        <br>
        <button class="btn"><a href="/users/<%= user._id %>/home/new">Write a new Blog</a></button>
        <br>
        <button class="btn"><a href="/">To login page</a></button>
        <br>
        <button class="btn"><a href="/users/<%= user._id %>/profile ">My Profile</a></button>
        <br>
        <form action="/logout" method="POST">
            <button class="btn">Logout</button>
            <br>
        </form>
        <div class="dropdown">
            <button class="dropbtn">Contact Us</button>
            <div class="dropdown-content">
                <a href="mailto:aryamanmishra99@gmail.com" target="_blank">Email</a>
                <a href="https://www.linkedin.com/in/aryaman-mishra-576527190/" target="_blank">Linkedin</a>
            </div>  
        </div>
    </div>
</body>
</html>